h1 {
  color: black;
  font-size: 50px;
  font-family: monospace;
  text-align: center;
  text-decoration: overline;
  padding-top: 100px;
}

.carousel {
  margin-bottom: 200px;
  background-color: #ffffff;
  align-items: center;
}

.carousel img {
  width: 100%; 
  height: auto; 
  max-width: 1500px; 
  margin: 0 auto; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 2;
  }
}

.titulo {
  font-size: 50px;
  animation: fadeIn 1.5s ease;
  font-weight: bold;
  padding-bottom: 80px;
}

/* Estilos para tabletas */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px; 
  }

  .carousel {
    margin-bottom: 100px; 
  }

  .titulo {
    font-size: 30px; 
  }
}

/* Estilos para móviles */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 20px; 
    padding-top: 50px; 
  }

  .carousel {
    margin-bottom: 50px; 
  }

  .titulo {
    font-size: 20px; 
    padding-bottom: 40px; 
  }
}