.contenedor {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 15px; 
    background-color: rgba(255, 255, 255, 0.332);
    height: 100%;
  }
  
  .lista {
    list-style: none; 
    display: flex; 
    gap: 40px; 
    
  }
  .lista li:hover {
    background-color: #ffffff56;
    color: rgb(0, 0, 0);
    
  }
  .lista a {
    text-decoration: none;
    color: #000000; 
    font-size: 20px;
    margin-right: 50px;
  }
  
  .lista a :hover{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.339);
  }
  
  .logo img {
    width: 150px;
    height: 150px;
    align-items: left;
    text-align: left;
    margin-left: 30px;
    border-radius: 8px;
  }
  .card{
    margin-right: 12px;
    align-items: center;
  }