.container {
  max-width: 600px;
  margin: 0 auto;
}

.main-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.formulario input {
  margin-bottom: 15px;
  padding: 10px;
}

.enviar {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.enviar:hover {
  background-color: #2980b9;
}